{% if page.title == 'home' %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <img src="https://www.openbroadcaster.pro/sites/default/files/openbroadcaster_logo.png" width="100%" class="logo" alt="Openbroadcaster" />
        <a href="https://twitter.com/openbroadcaster" class="btn btn-default" role="button"><i class="fa fa-twitter"></i> @openbroadcaster</a>
        <a href="https://github.com/openbroadcaster" class="btn btn-default" role="button"><i class="fa fa-github"></i> View on Github</a>
      </div>
    </div><!-- /.row -->
  </div>
</div><!-- /.pane-jumbotron -->
{% endif %}

{% include featurettes.html %} 

