<nav id="navigation" class="navbar navbar-clear navbar-static-top site-navigation" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="http://support.openbroadcaster.com">Open Broadcaster</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="menu nav navbar-nav">
        <li class="menu-item sub-menu"><a href="#">Documentation</a>
	  <ul class="dropdown">
            <li class="active menu-item sub-menu"><a href="http://support.openbroadcaster.com/Getting_Started">Getting Started</a></li>
            <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/player">Alert Player</a></li>
            <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/server">Server</a></li> 
          </ul></li>
        <li class="menu-item sub-menu"><a href="#">Workbench</a>
	  <ul class="dropdown">
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/Troubleshooting">Troubleshooting</a></li>
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/Advanced">Advanced</a></li> 
	 </ul></li>
        <li class="menu-item sub-menu"><a href="#">QuickStart</a>
	  <ul class="dropdown">
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/Basics">Basics</a></li>
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/Accessories">Accessories</a></li>
         </ul></li>	      
	<li class="menu-item sub-menu"><a href="#">MakerSpace</a>
	  <ul class="dropdown">
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/pyrate-radio">Pyrate Radio</a></li>
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/diy-maker-space-broadcast-projects">DIY Broadcast</a></li>
</ul></li>       
        <li class="menu-item sub-menu"><a href="#">Training</a>
	  <ul class="dropdown">
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/Player_Training">Player</a></li>
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/Server_Training">Server</a></li>
	    <li class="menu-item sub-menu"><a href="http://support.openbroadcaster.com/Links">Links</a></li>
         </ul></li>
	  </ul></


      </ul>
      <ul class="nav navbar-nav navbar-right navbar-social">
        <li><a href="https://github.com/openbroadcaster" title="Open Broadcaster on GitHub"><i class="fa fa-github"></i> </a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav><!-- /.navbar -->
