<nav id="navigation" class="navbar navbar-clear navbar-static-top site-navigation" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="https://support.openbroadcaster.com">OpenBroadcaster</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse"> 
      <ul class="menu nav navbar-nav">
        <li class="menu-item sub-menu"><a href="#">User Guides</a>
	  <ul class="dropdown">
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/install">Install</a></li>
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/quick-start">Quick Start</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/observer">Server</a></li>
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/obplayer">Player</a></li>
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/obplayer/#alerts">Alerts</a></li> 
         </ul></li>
        <li class="menu-item sub-menu"><a href="#">Documentation</a>
	  <ul class="dropdown">
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/embed-code-snippets">Embed Code</a></li>
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/live-assist">LIVE Assist</a></li>
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/logging">Logging</a></li>
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/pyrate">Pyrate</a></li>	
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/remote-broadcasting">Remote Broadcasting</a></li>
         </ul></li>
	      <li class="menu-item sub-menu"><a href="#">Modules</a>
	  <ul class="dropdown">
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/alert-languages">Alert Languages</a></li>
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/ad-manager">AD Manager</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/bulk-import">Bulk Import</a></li>
  	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/drupal">Drupal CMS</a></li>	  
  	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/invoice-wizard">Invoice</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/mapping">Geo Mapping</a></li>
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/now-playing-widget">Now Playing</a></li>  
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/ob2ob">Ob2Ob</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/payments">Payments</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/reports">Reports</a></li>
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/reviews">Reviews</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/statistics">Statistics</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/status">Status</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/svg-editor">SVG Editor</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/task-tracker">Task Tracker</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/terms-of-use">Terms Of Use </a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/translations">Translations</a></li>
          </ul></li>
            <li class="menu-item sub-menu"><a href="#">Workbench</a>
	  <ul class="dropdown">           
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/accessories">Accessories</a></li> 
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/diy-broadcast">DIY Broadcast</a></li>  
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/diy-cap-alert-player">DIY CAP Alert</a></li>
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/troubleshooting">Troubleshooting</a></li> 
	  </ul></li> 
              <li class="menu-item sub-menu"><a href="#">Training</a>
	  <ul class="dropdown">
            <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/emergency101">Emergency</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/player-training">Player</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/server-training">Server</a></li>
	    <li class="menu-item sub-menu"><a href="https://support.openbroadcaster.com/links">Links</a></li>
 </ul></li>
	  </ul></


      </ul>
      <ul class="nav navbar-nav navbar-right navbar-social">
        <li><a href="https://github.com/openbroadcaster" title="OpenBroadcaster on GitHub"><i class="fa fa-github"></i> </a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav><!-- /.navbar -->
