{% if page.title == 'home' %}
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/openbroadcaster" data-widget-id="708479071877894144">Tweets by @openbroadcaster</a>
<script>
  ! function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = p + "://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, "script", "twitter-wjs");
</script>
{% else %}

<section>
  <h2>Feedback</h2>
  <p>Find a<a href="https://github.com/openbroadcaster/obplayer/issues/new"> bug </a>? Have a <a href="https://github.com/openbroadcaster/obplayer/issues/new">feature request</a>? <br/>We really appreciate your feedback!</p>
<h3>Open Server Bugs</h3>
<div id="srv_bugs" name="srv_bugs" class="buglist">
</div>
<h3>Open Player Bugs</h3>
<div id="ply_bugs" name="ply_bugs" class="buglist">
</div>
</section>
{% endif %}
